/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0a0a0a;
	--foreground: #a6a6a6;
	--accent: #ffffff;
	--primary: #9333ea;
	--secondary: #00e4ea;
	--danger: #be123c;
	--gray: #1e1e1e;
	--light-gray: #333333;
	--surface: #1a202b;
	--font-montserrat: "Montserrat";
	--font-poppins: "Poppins";
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}

html,
body {
	@apply font-poppins bg-background text-foreground;
}

.f1,
.f2,
.f3,
.f4,
.f5,
.f6 {
	@apply tracking-wide font-poppins text-accent;
}

.f1 {
	@apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-semibold;
}

.f2 {
	@apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-semibold;
}

.f3 {
	@apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-normal;
}

.f4 {
	@apply text-xl md:text-2xl lg:text-3xl xl:text-4xl font-normal;
}

.f5 {
	@apply text-lg md:text-xl lg:text-2xl xl:text-3xl font-normal;
}

.f6 {
	@apply text-base md:text-lg lg:text-xl xl:text-2xl font-normal;
}

input,
textarea {
	@apply w-full rounded-lg outline-none bg-gray px-3 py-2 border border-light-gray focus:outline-none focus:ring-1 focus:ring-accent text-sm text-accent transition-all ease-in-out duration-300 max-sm:duration-0 placeholder:text-white/30;
}

input.is-invalid,
textarea.is-invalid {
	@apply border border-danger focus:outline-none focus:ring-1 focus:ring-danger focus:border-danger;
}

label {
	@apply flex justify-start text-sm mb-1 text-accent;
}

.btn-white {
	@apply min-w-[182px] w-full items-center justify-center flex rounded-lg outline-none bg-accent text-background font-semibold px-4 py-2 hover:bg-foreground active:bg-foreground transition-all ease-in-out duration-300 max-sm:duration-0 text-sm;
}

a {
	@apply flex items-center gap-1.5 text-nowrap w-fit decoration-primary hover:text-accent transition-all duration-300 ease-in-out underline underline-offset-2;
}

.fade-in {
	animation: fadein ease-in-out 0.5s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.hide-scrollbar {
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}
